default: &default
  adapter: mysql2
  encoding: utf8mb4
  # pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  # username: <%= ENV.fetch("MYSQL_USERNAME", "root") %>
  # password: <%= ENV.fetch("MYSQL_PASSWORD", "password") %>
  # host: <%= ENV.fetch("MYSQL_HOST", "rails-ec2-dem-db.ct42okyumplq.ap-southeast-1.rds.amazonaws.com") %>

development:
  <<: *default
  database: <%= ENV["DB_NAME_DEV"] %>

test:
  <<: *default
  database: <%= ENV["DB_NAME_TEST"] %>_test

production:
  <<: *default
  database: <%= ENV['DB_NAME_DEV'] %>
  username: "root"
  password: "password"
  host: "rails-db.ct42okyumplq.ap-southeast-1.rds.amazonaws.com"
  port: "3309"
