default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV.fetch("MYSQL_USERNAME", "root") %>
  password: <%= ENV.fetch("MYSQL_PASSWORD", "password") %>
  host: <%= ENV.fetch("MYSQL_HOST", " 13.229.229.101") %>

development:
  <<: *default
  database: <%= ENV["DB_NAME_DEV"] %>

test:
  <<: *default
  database: <%= ENV["DB_NAME_TEST"] %>_test

production:
  <<: *default
  database: <%= ENV['DATABASE_DATABASE'] %>
  username: <%= ENV['DATABASE_USER'] %>
  password: <%= ENV['DATABASE_PASSWORD'] %>
  host: <%= ENV.fetch("DATABASE_HOST", "db") %>
